.manage_container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 3rem;
	width: 80%;
}

.pagnation_container {
	display: flex;
	justify-content: center;
}
/* 네브바 */
.nav {
	list-style: none;
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.nav li {
	margin-left: 2rem;
	font-weight: 600;

	cursor: pointer;
}

.nav li:first-child {
	margin: 0;
}

.active {
	color: black;
}

.deactive {
	color: rgba(157, 157, 157);
}

/* 동의서 */

.agreement_page {
	margin-top: 3rem;
	text-align: center;
	width: 80%;
}
.create_agreement {
	margin: 1rem 0;
}
.delete {
	background-color: transparent;
	color: red;
}

.agreement_tbody {
	width: 100%;
	text-align: center;
}
.nothing {
	width: 100%;
	text-align: center;
}

.table {
}
