.form {
	width: 95%;
	padding: 2rem;
}

.form h1 {
	margin: 3rem 0;
}

.deadline {
	display: flex;
	flex-direction: column;
}

.deadline label {
	font-weight: 800;
	margin-bottom: 1rem;
}
.deadline input {
	margin-bottom: 1rem;
}

.form > input {
	padding: 0.5rem;
	margin: 2rem 0;
}

.textarea {
	margin: 0;
	width: 100%;
	height: 10rem;
}

.btns {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.submit_btn {
	border-radius: 0.6rem;
	margin-right: 2rem;
}

.cancel_btn {
	background-color: transparent;
	border: 0.5px solid #0087e8;
	color: #0087e8;
	border-radius: 0.6rem;
}
