@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:wght@300;400;500;700;900&display=swap");
.side {
	float: left;
	height: 100vh;
}

.main {
	display: flex;
	justify-content: center;
	height: 95vh;
}
