@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
	box-sizing: border-box;
}

.app_js {
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	justify-content: start;
	width: 100%;
	background-color: #fff;
}
.public {
	background-color: #f9f9f9;
	height: 100vh;
	display: flex;
	justify-content: center;
}

nav {
	margin-bottom: 3rem;
}

a {
	text-decoration: none;
	color: black;
}

.div {
	display: flex;
	justify-content: space-between;
	margin: 0 20rem;
	background: #fff;
}

.aside {
	width: 24rem;
	margin-right: 2rem;
	display: inline-block;
}

footer {
	margin-top: 4rem;
}

ul {
	list-style: none;
}

@media screen and (max-width: 1024px) {
	.div {
		margin: 0 6rem;
	}
}

@media screen and (max-width: 768px) {
	.div {
		margin: 0;
	}
	.aside {
		margin: 0;
	}

	.main {
		max-width: 100%;
	}
}
