.asso_div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.asso_div h1 {
	font-size: 4rem;
	margin-bottom: 4rem;
}

.asso_div p {
	font-size: 2rem;
	margin-bottom: 4rem;
	text-align: center;
	font-weight: 300;
}

.asso_div a {
	color: #0087e8;
	font-weight: 700;
	font-size: 1.7rem;
	margin-bottom: 2rem;
}

.asso_div a:first-child {
	margin-right: 3rem;
}
.Links {
	display: flex;
}

/* AptMemberRequest */
.apt_member {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.apt_member_form_div aside {
	font-size: 2rem;
	margin: 2rem 0;
}
.apt_member_form_div input {
	padding: 0.5rem;
}

.apt_member_form_div input:focus {
	outline: none;
}

.postal_code {
	width: 10rem;
	margin-right: 2rem;
}

.building {
	margin-right: 2rem;
}

.building,
.unit {
	width: 10rem;
}

.hidden {
	display: none;
}

.showModal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	border: 1px solid #000;
	overflow: hidden;
}

.hiddenModal {
	display: none;
}

.btn_submit {
	margin: 0 auto;
	margin-top: 5rem;
}
