.board_info {
	padding: 1.5rem 0;
	border-bottom: 0.5px solid rgba(204, 204, 204, 0.5);
}

.board_title {
	font-size: 2.7rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.board_description {
	color: rgba(61, 61, 61, 0.5);
	font-size: 1.4rem;
	font-weight: bold;
}
