.body {
	width: 75%;
}

.article_list {
	overflow: scroll;
	height: 100vh;
}

.article_list::-webkit-scrollbar {
	display: none;
}

.agreements_title {
	font-size: 2.7rem;
	font-weight: bold;
	margin-bottom: 1rem;
	padding: 1.5rem 0;
}

/* 관리자의 관리 동의서 게시판.  */
@media screen and (max-width: 768px) {
	.body {
		width: 98%;
		padding: 0 1rem;
	}
}
