.board_info {
	border-bottom: 1px solid black;
}

.article {
	list-style: none;
	border-bottom: 1px solid black;
}

.ulTag {
	overflow: scroll;
	height: 100vh;
}

.ulTag::-webkit-scrollbar {
	display: none;
}
