.body {
	width: 85%;
}

.article_list {
	overflow: scroll;
	height: 75vh;
}

.article_list::-webkit-scrollbar {
	display: none;
}

.agreements_title {
	font-size: 2.7rem;
	font-weight: bold;
	margin-bottom: 1rem;
	padding: 1.5rem 0;
}
