.Home_div {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.Home_div_img {
	margin-right: 5rem;
	position: relative;
}

.Home_img {
	transform: translateY(6rem);
	width: 45rem;
	height: 50rem;
}

.Home_h1 {
	position: absolute;
	font-size: 2.5rem;
	font-weight: bold;
	top: 2rem;
	z-index: 1;
}

.Home_h1_neigh {
	color: #0094fd;
	font-size: 2.5rem;
	font-weight: bold;
}

@media screen and (max-width: 1024px) {
	.Home_div_img {
		display: none;
	}
}
