.body {
	font-size: 1.4rem;
	margin-top: 3rem;
	width: 90%;
	min-height: 100vh;
}

.body > p {
	color: #000;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.articles {
	margin-top: 1rem;
	width: 100%;
}

.new_articles_p {
	margin-top: 5rem;
}

.article {
	margin: 1rem 0;
	padding-bottom: 0.5rem;
}

.hot_articles,
.new_articles {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dedede;
}
.article_rank {
	font-weight: 800;
}
.rank {
	margin-left: 3rem;
}
