.detail_container {
	border: 1px solid;
	margin: 10px;
}
.message_container {
	position: relative;
	width: 60%;
	margin-top: 3rem;
}

.pagination_container {
	display: flex;
	justify-content: center;
}

.btn_container {
	width: 68%;
	display: flex;
	justify-content: end;
}

.delete_div {
	position: relative;
	height: 4rem;
}
.delete {
	position: absolute;
	padding: 0.5rem;
	right: 0;
	margin-bottom: 3rem;
	color: red;
	background-color: transparent;
	font-size: 1.5rem;
	border-radius: 4px;
	border: 1px solid #dedede;
}

/* send Mesasge */
.send_form {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}
.send_message {
	width: 60%;
	margin-top: 3rem;
}

.writing_area {
	height: 20rem;
	width: 40rem;
	border: 1px solid rgb(133, 133, 133);
	margin-left: 0;
	margin-bottom: 3rem;
}

.input_box {
	margin: 0;
	width: 31rem;
}

.input_box:focus {
	border: 1px solid #000;
}
.message_to,
.message_title {
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
}

.label {
	width: 6rem;
	font-weight: 800;
	margin: 0;
	margin-right: 3rem;
}

.btn_send {
	width: 8rem;
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: 600;
	margin-right: 1rem;
}

.btn_delete {
	width: 8rem;
	color: red;
	background-color: transparent;
	border: 1px solid #dedede;
	border-radius: 4px;
	margin: 0;
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: 600;
}

.table {
	margin: 0;
}
