.detail_container {
	border: 1px solid;
	margin: 10px;
}
.message_container {
	position: relative;
	width: 90%;
	margin-top: 3rem;
}

.pagination_container {
	display: flex;
	justify-content: center;
}

.btn_container {
	width: 68%;
	display: flex;
	justify-content: flex-end;
}

.delete_div {
	position: relative;
	height: 4rem;
}
.delete {
	position: absolute;
	padding: 0.5rem;
	right: 0;
	margin-bottom: 3rem;
	color: red;
	background-color: transparent;
	font-size: 1.5rem;
	border-radius: 4px;
	border: 1px solid #dedede;
}

/* send Mesasge */
.send_form {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}

.send_form input {
	height: 2.5rem;
}
.send_message {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.writing_area {
	height: 20rem;
	width: 41rem;
	border: 1px solid rgb(133, 133, 133);
	margin-left: 0;
	margin-bottom: 3rem;
}

.input_box {
	margin: 0;
	width: 31rem;
}

.input_box:focus {
	outline: none;
}
.message_to,
.message_title {
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
}

.label {
	width: 7rem;
	font-weight: 800;
	margin: 0;
	margin-right: 3rem;
}

.btn_send {
	width: 8rem;
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: 600;
	margin-right: 1rem;
}

.btn_delete {
	width: 8rem;
	color: red;
	background-color: transparent;
	border: 1px solid #dedede;
	border-radius: 4px;
	margin: 0;
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: 600;
}

.table {
	margin: 0;
}

.unread {
	font-weight: 800;
}

.Message_div {
	width: 100%;
}

.message_nav {
	display: flex;
	justify-content: center;
	width: 95%;
	margin-top: 3rem;
}

.message_nav p {
	margin-right: 3rem;
	font-size: 1.5rem;
}

.message_nav p span {
	font-weight: 800;
}

.send_message_target h1 {
	text-align: center;
	margin: 4rem 0;
}

.writing_area_target {
	height: 20rem;
	width: 41rem;
	border: 1px solid rgb(133, 133, 133);
	margin: 2rem auto;
}

.send_form_target div {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.send_form_target div input {
	height: 2.5rem;
	padding: 0.5rem;
}
.btn_container_target {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.Message_div {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.delete {
		width: 5rem;
	}
	.send_message {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.Messages_btn_container {
		width: 100vw;
	}
}

@media screen and (max-width: 500px) {
	.message_container {
		margin: 3rem auto;
	}
	.message_nav p {
		margin-right: 1rem;
	}
	.send_form div input {
		width: 20rem;
	}

	.send_form textarea {
		width: 29rem;
	}
}

/* 상세 보기 */
.title_msg {
	margin-top: 5rem;
}
.message_detail {
	border: 1px solid #dedede;
	border-radius: 5px;
	margin-top: 3rem;
	padding: 1rem;
	width: 90%;
	display: flex;
	flex-direction: column;
}

.p_title {
	font-size: 2rem;
	margin-bottom: 1rem;
	display: inline-block;
}

.p_content {
	font-size: 1.3rem;
}

.msg_detail_container {
	margin-top: 2rem;
}
.message_detail_container {
	width: 94%;
	display: flex;
	justify-content: flex-end;
}

.msg_delete {
	background: transparent;
	color: red;
}
