.message_container {
	border-radius: 8px;
	margin: 0px 0px 20px 0px;
	width: 100%;
}

.detail_container {
	border: 1px solid;
	margin: 10px;
}

.pagination_container {
	display: flex;
	justify-content: center;
}

.btn_container {
	display: flex;
	justify-content: center;
}
.delete {
	color: red;
	background-color: transparent;
}

.send {
	color: blue;
	background-color: transparent;
}

.form {
	padding: 10px;
}

.input_p {
	margin-bottom: 10px;
}

.input_box {
	background-color: white;
}

.p_title {
	font-size: 15px;
	font-weight: 800;
}

.p_content {
	font-size: 15px;
}

.table_tr {
	margin-bottom: 50px;
}
