.profile {
	background-color: #ffff;
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	width: 90%;
}

.profile_img {
	margin-right: 2rem;
	border-radius: 50%;
	width: 5rem;
	height: 100%;
	border: 1px solid #dedede;
}
.profile_user {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
	position: relative;
}

.title {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.email {
	font-size: 1.1rem;
	color: rgba(157, 157, 157);
}

.nav {
	list-style: none;
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	margin-bottom: 3rem;
}

.nav li {
	margin-left: 2rem;
	font-weight: 600;

	cursor: pointer;
}

.nav li:first-child {
	margin: 0;
}

.active {
	color: black;
}

.deactive {
	color: rgba(157, 157, 157);
}

form {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
}

button {
	width: 10rem;
	height: 4rem;
	border: none;
	border-radius: 2px;
	background-color: #0087e8;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	.profile {
		width: 98%;
		align-items: center;
	}
}

/* Profile User Info */
.profile_form {
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.profile_user_info_div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	background: #fff;
}

.profile_user_info_div label {
	font-weight: 800;
	margin-right: 2rem;
}

.profile_user_info_div aside {
	width: 10rem;
	text-align: right;
}

.profile_user_info_div input {
	width: 30rem;
	height: 3rem;
	border: 1px solid darkgray;
	border-radius: 4px;
	margin: 0;
	padding: 0.3rem;
	padding-left: 1rem;
}

.profile_user_info_div input:focus {
	outline: none;
}

.profile_btn {
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 5rem;
	background: #fff;
	justify-content: center;
}

.profile_btn button:first-child:disabled {
	opacity: 0.3;
	cursor: default;
}
.profile_btns button {
	margin-right: 1rem;
}

.deleteAccount {
	color: red;
	font-weight: 600;
	cursor: pointer;
	background: transparent;
	position: absolute;
	right: 0;
	border: 1px solid #dedede;
}
.user_name {
	position: relative;
}

.user_name input {
	width: 30rem;
}

.btn_duplicate {
	width: 6rem;
	height: 3rem;
	font-size: 1.2rem;
	margin-left: 2rem;
}

.first_div {
	margin-left: 8rem;
	position: relative;
}

.duplic {
	font-size: 1rem;
	text-align: center;
	color: darkgray;
	margin-right: 8rem;
}

@media screen and (max-width: 1270px) {
	.deleteAccount {
		display: none;
	}
}
@media screen and (max-width: 1000px) {
	.profile {
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.profile_user {
		display: flex;
		justify-content: center;
		margin-left: 0;
	}
}

@media screen and (max-width: 500px) {
	.btn_duplicate {
		width: 6rem;
		height: 3rem;
		font-size: 1rem;
	}

	.profile_user_info_div input {
		width: 20rem;
	}
}

@media screen and (max-width: 500px) {
	.profile_nav ul li {
		font-size: 1.25rem;
	}
	.date {
		display: hidden;
	}
}

/* Image */

.figure {
	position: relative;
	cursor: pointer;
}

.input_image {
	position: absolute;
	left: 0;
	display: none;
}
