.profile {
	background-color: #ffff;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.profile_img {
	margin-right: 2rem;
	border-radius: 50%;
}
.profile_user {
	display: flex;
	text-align: left;
	margin-bottom: 3rem;
}

.title {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.email {
	font-size: 1.1rem;
	color: rgba(157, 157, 157);
}

.nav {
	list-style: none;
	display: flex;
	font-size: 1.5rem;
	margin-bottom: 3rem;
}

.nav li {
	margin-left: 2rem;
	font-weight: 600;

	cursor: pointer;
}

.nav li:first-child {
	margin: 0;
}

.active {
	color: black;
}

.deactive {
	color: rgba(157, 157, 157);
}

form {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
}

form input {
	width: 40rem;
	height: 2.5rem;
	margin-bottom: 3rem;
}

button {
	width: 10rem;
	height: 4rem;
	border: none;
	border-radius: 2px;
	background-color: #0087e8;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
}

/* Profile User Info */
.profile_form {
	background-color: #fff;
}

.profile_user_info_div {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	background: #fff;
}

.profile_user_info_div label {
	font-weight: 800;
	margin-right: 2rem;
}

.profile_user_info_div aside {
	width: 10rem;
	text-align: right;
}

.profile_user_info_div input {
	border: 1px solid darkgray;
	border-radius: 4px;
	margin: 0;
	padding: 0.3rem;
	padding-left: 1rem;
}

.profile_user_info_div input:focus {
	outline: none;
}

.profile_btn {
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 5rem;
	/* justify-content: center; */
	background: #fff;
}

.profile_btn button:last-child {
	margin-left: 2rem;
	background: transparent;
}

.profile_btn button:first-child:disabled {
	opacity: 0.3;
	cursor: default;
}

.user_name {
	position: relative;
}

.iconDuplicate {
	color: red;
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.notDupl {
	position: absolute;
	right: 1rem;
	top: 1rem;
}
