.sidebar_container {
	height: 100vh;
	background-color: rgba(256, 256, 256, 0.7);
	padding: 2rem;
	width: 22rem;
	text-align: left;
}

.sidebar_like {
	font-size: 1.6rem;
	font-weight: bold;
	color: #8a8888;
	margin: 2rem 0;
}

.request_new_board {
	font-size: 1.2rem;
	margin-left: 0.3rem;
	display: flex;
	align-items: center;
}
.request_new_board span {
	margin-left: 0.4rem;
	transform: translateY(0.1rem);
}

.sidebar_agreements {
	color: black;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.sidebar_agreements:hover {
	background-color: #dfdfdf;
	border-radius: 0.3rem;
}

.sidebar_agreements:active {
	background-color: #b7b7b7;
	border-radius: 0.3rem;
}

.sidebar_list {
	list-style: none;
	margin-bottom: 1rem;
}

.sidebar_back {
	margin-bottom: 0.5rem;
	color: black;
}

.board_name_star:hover {
	background-color: #dfdfdf;
	border-radius: 0.3rem;
}

.board_name_star:active {
	background-color: #b7b7b7;
	border-radius: 0.3rem;
}

.sidebar_link {
	color: black;
	font-size: 1.5rem;
}

.sidebar_link:hover {
	color: #319cff;
}

.sidebar_link:active {
	color: #319cff;
}

.board_name_star {
	display: flex;
	justify-content: space-between;
	width: 85%;
}

.star_btn {
	background-color: transparent;
	font-size: 1.3rem;
	cursor: pointer;
}

.star_icon {
	color: #ffcb14;
}

@media screen and (max-width: 768px) {
	.sidebar_container {
		display: none;
	}
}
