.sidebar_container {
	height: 100%;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding-right: 10px;
	background-color: rgba(256, 256, 256, 0.7);
}

.sidebar_like {
	font-size: 15px;
	font-weight: bold;
}

.sidebar_list {
	list-style: none;
}

.sidebar_back {
	font-size: 15px;
	color: black;
	margin-right: 0.5rem;
}

.sidebar_back:hover {
	background-color: #dfdfdf;
	border-radius: 0.3rem;
}

.sidebar_back:active {
	background-color: #b7b7b7;
	border-radius: 0.3rem;
}

.sidebar_link {
	color: black;
}

.sidebar_link:hover {
	color: #319cff;
}

.sidebar_link:active {
	color: #319cff;
}

.board_name_star {
	display: flex;
}

.star_btn {
	background-color: transparent;
	font-size: 1.3rem;
}
