* {
	margin: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	background-color: #f9f9f9;
	font-family: sans-serif;
}

.sign_in {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign_in_div {
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 1px solid #e4e4e4;
	padding: 7rem;
	background-color: #fff;
	align-items: center;
}
.title {
	background-color: transparent;
	font-size: 4rem;
	margin-bottom: 3.7rem;
	cursor: default;
}

.form {
	background-color: transparent;
	display: flex;
	flex-direction: column;
}

.form input {
	width: 26.4rem;
	height: 3.3rem;
	border: 1px solid #e4e4e4;
	border-radius: 2px;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1.3rem;
}

.form input:focus::placeholder {
	opacity: 0;
}

.form input:focus {
	outline: none;
}

.kakao_button {
	background-color: yellow;
	color: #000;
	border: none;
	width: 26.4rem;
	height: 3.3rem;
	border-radius: 2px;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 3.7rem;
	cursor: pointer;
}

.kakao_button:active {
	transform: scale(0.95);
}

.login_button {
	width: 26.4rem;
	height: 3.3rem;
	border: none;
	border-radius: 2px;
	background-color: #0087e8;
	font-size: 1.5rem;
	color: #fff;
	margin-bottom: 1rem;
	cursor: pointer;
	font-weight: 800;
	margin-top: 1.5rem;
}

.login_button:active {
	transform: scale(0.95);
}

.disabled_button {
	opacity: 0.6;
	cursor: auto;
}
.disabled_button:active {
	transform: scale(1);
}

.Link {
	background-color: transparent;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 800;
	color: #0087e8;
	margin-bottom: 1.5rem;
}

.sign_up_span {
	background: #fff;
	font-size: 1.4rem;
	color: rgba(202, 203, 208);
	margin-bottom: 3rem;
}

.password {
	position: relative;
}

.icon {
	font-size: 1.5rem;
	position: absolute;
	top: 1rem;
	right: 0.7rem;
}

.hidden {
	display: none;
}
