.button_box {
	display: flex;
	align-items: center;
}

.buttons {
	background-color: transparent;
	color: black;
	font-weight: 400;
	font-size: 0.8rem;
	width: auto;
	height: auto;
	margin-right: 1rem;
}
