.comments_box {
	position: relative;
}

.comments_box p {
	margin: 0.6rem 0;
	padding-left: 1rem;
	font-size: 1.3rem;
}
#comment_username {
	font-size: 1.5rem;
	font-weight: 600;
}

.comments_li {
	list-style: none;
	border-top: 1px solid #dedede;
}

.comments_li:first-child {
	list-style: none;
	border-top: none;
}

.nestedComments {
	display: flex;
}

.btn_nested_comments {
	display: flex;
	flex-direction: row-reverse;
}

.btn_nested {
	background: #fff;
	color: black;
	width: 5rem;
}

.btn_nested:disabled {
	color: darkgray;
}

textarea {
	margin: 1rem auto 0;
	width: 95%;
	height: 5rem;
	border: 1px solid #dedede;
	border-radius: 3px;
	resize: none;
	padding: 1rem;
}

textarea:focus {
	outline: none;
}
.date_btn {
	display: flex;
	align-items: center;
}

.create_form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.comments_nsted {
	padding-left: 2rem;
}

.btn_comment_like {
	position: absolute;
	right: 1rem;
}

.hidden {
	display: none;
}
