.article {
	list-style: none;
	border-bottom: 0.5px solid rgba(204, 204, 204, 0.5);
	height: auto;
	margin: 2rem 0;
}

.article_profile {
	display: flex;
	align-items: center;
}

.article_profile > p {
	margin-right: 0.3rem;
	color: rgb(109, 107, 107);
	font-size: 1.3rem;
}

.created {
	padding-bottom: 0.3rem;
	padding-left: 0.2rem;
}

.profile_img {
	border-radius: 50%;
	background-color: rgb(109, 107, 107);
	width: 3.5rem;
	height: 3.5rem;
	margin-right: 0.5rem;
}

.profile_img > img {
	width: 100%;
	border-radius: 50%;
}

.title {
	font-size: 2.4rem;
	margin: 2.4rem 0;
}

.img_box {
	max-width: 100rem;
	background-color: #f3f3f3;
	text-align: center;
}

.img_box > img {
	width: 50rem;
	height: 40rem;
}

.content {
	font-size: 1.8rem;
	margin: 2rem 0 4rem;
	white-space: pre;
}

.article_bottom > span {
	font-size: 1.3rem;
}

.article_bottom {
	margin-bottom: 2rem;
}
.icons {
	margin-right: 0.8rem;
}

@media screen and (max-width: 768px) {
}
